<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.capricciosoftware.clark.jennings.capriccio.fuzion.mobile" version="" width="320" height="480" start="index.html">
<title>Capriccio Fuzion Mobile</title>
<description>Enter your time.</description>
<author name="" email="" url=""></author>
<license></license>
</widget>
